.btnLimp {
    background: none;
    color: #ccc;
    width: 240px;
    height: 80px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

.btnLimp:focus {
    outline: none;
}

.btnLimp:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30ox);
    transform: translateX(-130px) skew(-15deg);
}

.btnLimp:after {
    content:'';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

.btnLimp:hover {
    background: #338033;
    cursor: pointer;
}

.btnLimp:hover:before {
    transform: translateX(300px) skew(-15deg);
    opacity: .6;
    transition: .7s;
}

.btnLimp:hover:after {
    transform: translateX(300px) skew(-15deg);
    opacity: 1;
    transition: .7s;
}